section {
	padding-top: 100px;
	padding-bottom: 100px;
}

span {
}

section h2 {
    font-size: 3em;
    width: 100%;
    padding-bottom: 50px;
}

section h3 {
	width: 100%
}

.container {
}

.navbar-brand {
	font-size: 200%;
}

.navbar-nav {
	margin-right: -20px;
}

ul > .nav-item{
    letter-spacing: 1px;
    padding-left: 5px;
    padding-right: 5px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 1.1em;
}

.jumbotron {
	margin-bottom: 0px;
	padding-bottom: 150px;
	padding-top: 150px;
}

.btn-toolbar {
	margin-bottom: 2px;
}

.input-group > input {
	text-align: right;
}

.input-group-text {
	color: black;
}

.btn-custom {
	background-color: #ecf0f1;
	color:black;
	border-color: #95a5a6;
	padding: 0.1875rem 0.75rem;
}

.btn-custom:hover, .btn-custom:focus {
	color: #fff;
	background-color: #95a5a6;
    border-color: #798d8f;
}

.div-title {
	font-size: 24px;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
}

.lsm-conf-row .mp-btn-group {
	width: 100%;
}

.lsm-reuslt .lsm-btn, .lsm-btn-group, .lsm-btn{
	height: 12px;
	margin: 0 auto 3px;
	padding: 0px;
	border-radius: 0.25rem;
	vertical-align: top;
}

.lsm-result .t-btn-group {
	margin-right: auto;
	margin-left: auto;
	height: 12px;
	display: inline-block;
	margin-bottom: 3px;
}


.col-lg-3 .row {
	padding-left: 15px;
	padding-right: 15px;
}

@media(max-width:991px) {
	ul > .nav-item {
		padding-left: 0px; 
		padding-right: 0px;
    }
}

